poethepoet
pytest
torch
torchvision
torchtune
torchao<0.8.0
numpy
openmim
tensorboard
nvtx
h5py
protobuf
grpcio
grpcio-tools
optuna
onnxruntime-gpu
onnxscript
accelerate
transformers
sacrebleu
opencv-python-headless
pillow
